.body{
    background:url(/Team4_Angular/media/Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#login_link {
    padding-left: 1000px;
}

/* middle section */
#main_container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 30px;
    grid-auto-rows: minmax(120px, auto);
    padding: 2%;
}

#div1 {
    height: 25rem;
    background-image: url(/Team4_Angular/media/Select-Lang-English.png);
    text-align: center;
    grid-column: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

#div2 {
    height: 25rem;
    text-align: center;
    grid-column: 2;
    background-image: url(/Team4_Angular/media/Select-Lang-Hindi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#div3 {
    height: 25rem;
    text-align: center;
    grid-column: 3;
    background-image: url(/Team4_Angular/media/Select-Lang-Marathi.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#div4 {
    height: 25rem;
    text-align: center;
    grid-column: 3;
    background-image: url(/Team4_Angular/media/Select-Lang-Tamil.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#div5 {
    height: 25rem;
    text-align: center;
    grid-column: 3;
    background-image: url(/Team4_Angular/media/Select-Lang-Kannada.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#div6 {
    height: 25rem;
    text-align: center;
    grid-column: 3;
    background-image: url(/Team4_Angular/media/Select-Lang-Telugu.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer */
footer {
    height: auto;
    text-align: center;
    padding: 3px;
}

/* media query */
@media screen and (min-width: 600px) {
    #book_logo {
        height: auto;
        width: 10%;
    }
}